.burger {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  padding-right: 4px;
  height: 325px;
  background-image: url(https://res.cloudinary.com/mimas-music/image/upload/v1600293208/Lushfulness/headerGreen2500x325.png);
}

.titleContainer {
  margin-top: 1rem;
}

.title,
.period {
  font-family: var(--cursive);
  font-size: 2.6rem;
  margin-top: 1rem;
  line-height: 1;
  font-weight: 900;
  color: var(--primary-darker);
}
@media (min-width: 370px) {
  .title,
  .period {
    font-size: 3.5rem;
  }
}
@media (min-width: 640px) {
  .title,
  .period {
    font-size: 4rem;
  }
}

.title {
  text-align: end;
}

.period {
  color: var(--primary);
}
