.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 1rem;
  padding-right: 4px;
  height: 115px;
  background-color: var(--grey-050);
  box-shadow: var(--box-shadow);
}
@media (min-width: 640px) {
  .nav {
    height: 150px;
  }
}

.titleContainer {
  /* margin-top: 1rem; */
}

.title,
.period {
  font-family: var(--cursive);
  font-size: 2.2rem;
  line-height: 1;
  font-weight: 900;
  color: var(--primary-darker);
  padding: 0 !important;
}
@media (min-width: 370px) {
  .title,
  .period {
    font-size: 3rem;
  }
}
@media (min-width: 640px) {
  .title,
  .period {
    font-size: 4rem;
    line-height: 110px;
  }
}

.title {
  text-align: end;
}

.period {
  color: var(--primary);
}
